.chat-container {
    padding: 20px; /*Ordem para padding e margin: top, bottom, right, left*/
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #ccc; /*Ordem para border: width, style e color*/
    background-color: #f9f9f9; /*Ordem para background: color, image, repeat, position*/
    min-height: 100vh;
    overflow: auto;
}

.chat-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.chat-container form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.chat-container form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.chat-container form button:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
    color:#0056b3;
}

.conversa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.conversa:last-child {
    border-bottom: none;
}

.conversa:hover {
    background-color: #f1f1f1;
}

p {
    text-align: center;
    color: #888;
    font-size: 18px;
}

.conversa button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}

.conversa button:hover {
    background-color: #c82333;
}

.chat-container p {
    text-align: center;
    color: #666;
}

.contatos button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: chartreuse;
    color: white;
    cursor: pointer;
}

.logout p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.logout button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: chocolate;
    color: white;
    cursor: pointer; 
}

.logout button:hover {
    background-color: #ea6f18;
}

/* Responsividade */
/* Tablets e acima */
@media (min-width: 600px) {
    .chat-container {
        padding: 40px;
    }

    .conversa {
        padding: 15px;
        font-size: 16px;
    }

    p {
        font-size: 15px;
    }

    .logout p {
        font-size: 12px;
    }
}
/* Laptops e acima */
@media (min-width: 992px) {
    .chat-container {
        max-width: 1200px;
        padding: 40px;
    }

    .conversa {
        padding: 20px;
        font-size: 18px;
    }

    p {
        font-size: 22px;
    }

    .logout p {
        font-size: 18px;
    }

    .chat-container form {
        margin-bottom: 40px;
    }
}
/* Mobile */
@media (max-width: 599px){
    .chat-container {
        padding: 10px;
    }

    .conversa {
        padding: 10px;
        font-size: 14px;
    }

    p {
        font-size: 16px;
    }

    .logout p {
        font-size: 10px;
    }
}
