<div class="chat-container">
    <h2>Chats</h2>
    <form (ngSubmit)="startConversa()">
      <input type="text" [(ngModel)]="novaConversa.usuario" name="usuario" placeholder="Usuário" required>
      <button type="submit">Iniciar conversa</button>
    </form>
    <div *ngIf="conversas && conversas.length > 0; else noConversations">
      <div *ngFor="let conversa of conversas" class="conversa">
        <p>{{ conversa.id }}</p>
        <p>Usuário: {{ conversa.usuario.nome }}</p>
        <button (click)="deleteConversa(conversa.id)">Deletar</button>
        <button (click)="endConversa(conversa.id)">Encerrar</button>
      </div>
    </div>
    <ng-template #noConversations>
       <p>Você não possui conversas</p>
    </ng-template>

    <div class="logout">
      <p>Deseja sair?</p>
      <button (click)="logout()">Logout</button>
    </div>
</div>