<div class="chat-container">
    <h1>Conversas</h1>
    <h2>Olá, {{ usuario?.nome }}!</h2>
    <form (ngSubmit)="startConversa()">
      <input type="text" id="usuarioDest" [(ngModel)]="usuarioDest.nome" name="usuarioDest" placeholder="Nome do usuário destino" required>
      <button type="submit">Iniciar conversa</button>
    </form>
    <div *ngIf="conversas && conversas.length > 0; else noConversations">
      <div *ngFor="let conversa of conversas" class="conversa">
        <!--Se o usuário está envolvido na conversa ele tem acesso a ela, do contrário ele não tem acesso-->
        <div *ngIf="conversa.usuarioDest.id === usuario?.id || conversa.usuario.id === usuario?.id">
          <p>ID da Conversa: {{ conversa.id }}</p>
          <!--Se o usuário logado é destinatário, o remetente será exibido e vice-versa-->
          <p *ngIf="conversa.usuarioDest && conversa.usuarioDest.id !== usuario?.id">Contato: {{ conversa.usuarioDest.nome }}</p>
          <p *ngIf="conversa.usuario && conversa.usuario.id !== usuario?.id">Contato: {{ conversa.usuario.nome }}</p>
          <button (click)="deleteConversa(conversa.id)">Deletar</button>
          <button (click)="endConversa(conversa.id)">Encerrar</button>
          <a [routerLink]="['/conversa', conversa.id]">Conversar</a>
        </div>
      </div>
    </div>
    <ng-template #noConversations>
       <p>Você não possui conversas</p>
    </ng-template>

    <div class="contatos">
      <p>Deseja ir para contatos?</p>
      <button (click)="irParaContatos()">Contatos</button>
    </div>

    <div class="logout">
      <p>Deseja sair?</p>
      <button (click)="logout()">Logout</button>
    </div>
</div>